<div class="footer-container mt-5">
  <footer
    class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 container border-top"
  >
    <div class="col mb-3">
      <a
        href="/listings"
        class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none"
        aria-label="Bootstrap"
        ><i class="fa-regular fa-compass"></i
      ></a>
      <p class="text-body-secondary">©2025 WanderLust,Inc</p>
    </div>
    <div class="col mb-3"></div>
    <div class="col footer-nav">
      <div class="mb-3">
        <h5>Discover</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="/listings" class="nav-link f-item p-0 text-body-secondary"
              >Explore</a
            >
          </li>
          <li class="nav-item mb-2">
            <a href="/contact" class="nav-link f-item p-0 text-body-secondary"
              >Contact Us</a
            >
          </li>
          <li class="nav-item mb-2">
            <a href="/listings/new" class="nav-link f-item p-0 text-body-secondary"
              >Become a Host</a
            >
          </li>
        </ul>
      </div>
      <div class="mb-3">
        <h5>Socials</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="#" class="nav-link f-item p-0 text-body-secondary"
              ><i class="fa-brands fa-facebook"></i>&nbsp;&nbsp;Facebook</a
            >
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link f-item p-0 text-body-secondary"
              ><i class="fa-brands fa-instagram"></i>&nbsp;&nbsp;Instagram</a
            >
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link f-item p-0 text-body-secondary"
              ><i class="fa-brands fa-threads"></i>&nbsp;&nbsp;Thread</a
            >
          </li>
        </ul>
      </div>
    </div>
  </footer>
</div>
