<%layout("/layouts/boilerplate.ejs")%>
<div class="row mt-4 mb-5">
  <div class="col-8 offset-2">
    <form action="/listings/<%=listing._id%>/book" method="post">
      <div class="mb-3">
        <label for="from" class="form-label">From</label>
        <input type="date" name="from" id="from" class="form-control" />
      </div>
      <div class="mb-3">
        <label for="to" class="form-label">To</label>
        <input type="date" name="to" id="to" class="form-control" />
      </div>
      <button class="btn btn-danger">Confirm Booking</button>
    </form>
  </div>
</div>
