<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>
<body>
    <h1>Create a new Listing</h1>
    <form method="POST" action="/listings">
        <input name="title" type="text" placeholder="enter title">
        <br><br>
        <textarea name="description" placeholder="enter description"></textarea>
        <br><br>
        <input name="image" type="text" placeholder="enter url/link">
        <br><br>
        <input name="price" type="number" placeholder="enter price">
        <br><br>
        <input name="country" type="text" placeholder="enter country name">
        <br><br>
        <input name="location" type="text" placeholder="enter location">
        <br><br>
        <button>Add your place</button>
    </form>
</body>
</html>