* {
  font-family: "Plus Jakarta Sans", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

/*Navbar*/
.navbar {
  height: 5rem;
  background-color: white;
  z-index: 4;
  position: sticky;
  top: 0;
}
@media only screen and (max-width: 992px) {
  .navbar-collapse {
    z-index: 5;
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    width: 100vw;
    top: 100%;
    padding: 1rem;
  }
}

.nav-user {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #ff385c;
}
.logo i {
  font-size: 2rem;
}
.logo .script {
  font-family: "Pacifico", cursive;
  font-size: 1.75rem;
}
@media only screen and (max-width: 450px) {
  .nav-logo {
    font-size: 1.25rem !important;
  }
}

.discover {
  color: #222222;
  opacity: 0.7;
  transition: all ease-in 0.25s;
}
.discover:hover {
  opacity: 1;
  font-weight: 500;
}

/* Index page */
/*Cards*/
.listing-card {
  border: none;
  margin-bottom: 2rem;
}
.listing-img {
  border-radius: 2rem;
  width: 100%;
  object-fit: cover;
}
.listing-card-body {
  padding: 0.5rem 0 0 0;
}
.listing-link {
  text-decoration: none;
}
.card-text {
  margin-bottom: 0.5rem;
}

/* Card Effect */
.card-img-overlay {
  opacity: 0;
  transition: 0.2s;
}
.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}
#filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
}

.filter:hover {
  opacity: 1;
  cursor: pointer;
}

.tax-info {
  display: none;
}

.tax-toggle {
  border: 1px solid black;
  height: 3rem;
  width: 15rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter p {
  margin-bottom: 0;
}

.page-item.active .page-link,
.page-link.active,
.page-link:focus,
.page-link:hover {
  background: linear-gradient(90deg, #ff416c, #ff4b2b);
  color: #fff !important;
  border: none;
}

.page-link {
  color: #ff416c;
  border: none;
  transition: background 0.3s, color 0.3s;
}
a {
  text-decoration: none;
  color: #222222;
}

/* new list add button ,edit page button*/
.add-btn,
.edit-btn,
.form-btn,
.filter-btn,
.del-btn,
.review-btn,
.show-,
.signup,
.login-btn,
.seelisting,
.visitor
{
  background: linear-gradient(90deg, #ff416c, #ff4b2b);
  color: white;
}
.add-btn:hover,
.edit-btn:hover,
.form-btn:hover,
.filter-btn:hover,
.del-btn:hover,
.review-btn:hover,
.show-review:hover,
.signup:hover,
.login-btn:hover,
.seelisting:hover,
.visitor:hover
{
  background-color: #fe424d;
  color: #ffffff98;
}
.form-label {
  font-weight: 500;
  font-size: 1.25rem;
  color: #222222;
}

/* Show page  */
.show-container {
  margin: 0 4rem 0 4rem;
}
#show-img {
  height: 550px; /* adjust height as needed */
  background-size: cover; /* fills div, keeps aspect ratio */
  background-position: center; /* centers the image */
  background-repeat: no-repeat;
  border-radius: 1.5rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}
@media only screen and (max-width: 992px) {
  .show-container {
    margin: 0;
  }
  #show-img{
    height: 450px;
  }
}
@media only screen and (max-width: 450px) {
  #show-img {
    height: 350px;
    width: 100%;
  }
}

.show-links {
  display: flex;
}

.host{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}
.host-img{
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}
/* map */
#map {
  height: 400px;
}
@media only screen and (max-width: 450px) {
  #map{
    height: 250px;
  }
}
.review-owner{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}
.review-host-img{
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}
.review-rating i{
  color: rgba(255, 217, 0, 0.911);
}




/* footer */
.footer-nav {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  gap: 7rem;
}
.f-item:hover {
  color: #222222 !important;
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(232, 232, 232, 0.732);
}

@media only screen and (max-width: 768px) {
  .footer-nav {
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
  }
}

/* book */
.booking-img {
  height: 20rem;
  background-position: center;
  background-size: cover;
}

.maker {
  text-align: center;
}


/* signup */
.form-title{
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.9rem;
  color: #fe424d;
  text-align: center;
}
.form-title span{
  color: #333;
}

.form-subtitle{
  font-size: 1.5rem;
  text-align: center;
  color: #666;
}
.entry-gateways{
  color: #333;
  margin-top: 1rem;
}
/* login */

.login-title{
  font-size: 2rem;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: #fe424d;
  text-align: center;
}
.login-title span{
  color: #333;
}
@media only screen and (max-width:450px){
  .login-title{
    font-size: 1.5rem;
  }
}

/* Bookings */
.book-img{
  width: 100%;
  object-fit: cover;
  height: 15rem;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}
.book-card{
  border-radius: 1.5rem;
}
.booking-btns{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
/* own listings */
.own-listing-card{
  border-radius: 1.5rem;

}
.own-listing-img{
  width: 100%;
  object-fit: cover;
  height: 15rem;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

/* own reviews */
.review-buttons{
  display: flex;
  gap: 1rem;
}
.review-card{
  height: 100%;
}


/* profile */

.profile{
  min-height:50vh;
  border-radius: 1rem;
}
.profile-left{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}
.profile-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}
.profile-btns{
  display: flex;
  justify-content: flex-start;
  
}
@media only screen and (max-width:992px){
  .profile-btns{
    justify-content: center;
  }
}