<%layout("/layouts/boilerplate.ejs")%>
<body>
  <div class="row mt-4">
    <div class="col-12 col-md-10 col-lg-8 offset-lg-2 offset-md-1">
      <h2 class="form-title">Join <span>WanderLust</span></h2>
      <p class="form-subtitle">Create your account and start your journey</p>
      <form
        method="POST"
        action="/signup"
        novalidate
        class="needs-validation"
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input
            name="username"
            type="text"
            placeholder="Enter Username"
            id="username"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter Username!</div>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            name="email"
            type="email"
            placeholder="Enter email"
            id="email"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter valid email!</div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            name="password"
            type="password"
            placeholder="Enter Password"
            id="password"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter password!</div>
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Upload Profile Picture</label>
          <input name="picture" type="file" id="image" class="form-control" />
        </div>
        <div class="mb-3">
          <label for="phone" class="form-label">Phone No.</label>
          <input
            name="Phone"
            type="number"
            id="phone"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please provide contact details!</div>
        </div>
        <div class="mb-3">
          <label for="about" class="form-label">Tell us about yourself</label>
          <textarea
            name="About"
            id="about"
            class="form-control"
            required
          ></textarea>
          <div class="invalid-feedback">Please tell us about yourself</div>
        </div>
        <button class="btn signup">SignUp</button>
      </form>
      <p class="entry-gateways">Already have an account?&nbsp;<span class="text-decoration-underline"><a href="/login">Login</a></span></p>
    </div>
  </div>
</body>
